@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap%27');

body {
    text-align: center;
    font-family: Quicksand;
    color: #333;
  }
  
  img {
    width: 400px;
    height: 267px;
  }
  
  input {
    width: 400px;
    margin: 1em;
    height: 2em;
  }
  
  button {
    background-color: #333;
    color: #eee;
    height: 2em;
    width: 400px;
    border-radius: 4px;
    margin: 1em;
  }
  
  button:hover {
    cursor: pointer;
    background-color: #444;
    color:  #a9200e;
  }
  
  .profile {
    width: 400px;
    margin: 1em auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .content {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;

  }
  
  .profile:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    color: #a9200e;
  }
  
  .profile div {
    background-color: #eee;
    font-size: 24px;
    color: #f1356d;
  }

  .navbar a:hover {
    border-bottom: 1px solid #df0d0d;
    box-shadow: 1px 3px 5px rgba(249, 4, 4, 0.1);
  }
  .navbar a:hover {
    border-bottom: 1px solid #df0d0d;
    box-shadow: 1px 3px 5px rgba(249, 4, 4, 0.1);
  }
 .navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #a9200e;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.navbar.home a:hover{
  border-bottom: 1px solid #df0d0d;
  box-shadow: 1px 3px 5px rgba(249, 4, 4, 0.1);
}
.signup {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

