<h1>Make a post to upload your art</h1>
<div>
    <div>
        <div>Title</div>
        <input [(ngModel)]="email"
        type="text"
        placeholder="Enter your Title">
    </div>
    <div>
        <div>Post</div>
        <input [(ngModel)]="password"
         type="text" placeholder="Enter your Post ">
    </div>
    <button (click)="addPost()">Add Post</button>
</div>
<hr>
<br>

<div *ngFor="let newsfeedItem of newsfeedItems">
    <h1>{{newsfeedItem.email}}</h1>
    <div>{{newsfeedItem.password}}</div>
    <br>
    <br>
    <br>
    <app-file-upload></app-file-upload>
</div>

